{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Accueil{% endblock %}

{% block body %}

    <section class="hero_container">
        <div class="hero_text">
            <div class="text_wrapper">
                <h1>Bienvenue</h1>
                <p>
                    Découvrez notre univers de produits durables et éthiques pour une consommation 
                    responsable
                    <br>
                    <br>
                    Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt 
                    à porter
                </p>
            </div>
        </div>
        <div class="hero_img">
            <img src="images/hero_img.jpg" alt="Image d'illustration">
        </div>
    </section>

{% endblock %}