/* HERO */
.hero_container {
  width: 100vw;
  display: flex;
  height: 751px;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .hero_container {
    flex-direction: column;
    height: 80vh;
  }
  .hero_img {
    height: 35vh;
    width: 100%;
  }
}

/* hero text */
.hero_text {
  flex: 1;
  background-color: var(--Green);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  text-align: left;
}

.hero_text h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(2.5rem, 2.0714rem + 2.1429vw, 4rem);
  line-height: 100%;
  margin-bottom: 1rem;
}

.hero_text p {
  max-width: clamp(15.625rem, 13.625rem + 10vw, 22.625rem);
  font-weight: 300;
  font-style: Light;
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  line-height: 100%;
}

/* hero img */
.hero_img {
  flex: 1;
}

.hero_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* PRODUCTS */
.products_container {
    padding: 0;
}

.products_container h2 {
  margin: 40px 0 40px 100px;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* products */
.products_grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    gap: 0;
}

/* product */
.product_card {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.product_card img {
    width: 100%;
    height: 474px;
    display: block;
    object-fit: cover;
}

.card_text {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  text-align: center;
}

.product_card h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--Black);
  margin-bottom: 10px;
}

.product_card .desc {
  color: var(--Gray);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

.product_card .price {
  font-weight: 400;
  font-size: 14px;
  color: var(--Dark-Gray);
}

.card_btn {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--Black);
  font-weight: 400;
  font-size: 14px;
}

.card_btn:hover {
  background-color: var(--Dark-Gray);
  color: var(--White);
}

.card_btn:hover {
  color: var(--White);
}

/* responsive */
@media (min-width: 600px) and (max-width: 1023px) {
    .products_grid {
        grid-template-columns: 1fr 1fr;
    }
    .product_card {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .products_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product_card {
        width: 100%;
    }
}

/* ETHOS */
.ethos {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.beliefs,
.values {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.beliefs {
  background-color: var(--Beige);
}

.values {
  background-color: var(--Green);
}

.beliefs_text,
.values_text {
  padding: 4rem;
}

.beliefs_text h3,
.values_text h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.beliefs_text p,
.values_text p {
  font-weight: 300;
  font-style: Light;
  font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}

.beliefs_text p {
  max-width: 425px ;
}

.values_text p {
  max-width: 465px;
}

.beliefs img,
.values img {
  width: 487px;
}

/* responsive */
@media (max-width: 768px) {
  .beliefs,
  .values {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .beliefs img,
  .values img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .beliefs {
    display: flex;
    flex-direction: column-reverse;
  }
}



