/* main font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Colors */
:root {
  --White: #FFFDF7;
  --Green: #E8F0E3;
  --Beige: #EBE3D3;
  --Black: #000000;
  --Gray: #565656;
  --Dark-Gray: #333333;
}
 
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a, li, ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--White);
  text-rendering: optimizeSpeed;
  color: var(--Dark_Gray);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: smooth !important;
  }
}