<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1" />

        {# title #}
        <title>{% block title %}Green Goodies{% endblock %}</title>

        {# css #}
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/footer.css"/>
        <link rel="stylesheet" href="/css/login.css"/>
        <link rel="stylesheet" href="/css/register.css"/>
        {% block stylesheets %}{% endblock %}

        {# favicon #}
        <link rel="icon" type="image/png" href="{{ ('images/logo_favicon.png') }}">
    </head>
    <body>
    
        <main>
            {% include 'partials/_header.html.twig' %}

            {% block body %}{% endblock %}

            {% include 'partials/_footer.html.twig' %}
        </main>

    {# auto refresh #}
    {# // <script>
    //     const cssFiles = {};

    //     document.querySelectorAll('link[rel="stylesheet"]').forEach(css => {
    //         cssFiles[css.getAttribute("href")] = null;
    //     });

    //     setInterval(() => {
    //         document.querySelectorAll('link[rel="stylesheet"]').forEach(css => {
    //             const href = css.getAttribute("href").split("?")[0];
    //             fetch(href + "?v=" + new Date().getTime(), { method: 'HEAD' })
    //                 .then(res => {
    //                     const lastModified = res.headers.get('last-modified');
    //                     if (cssFiles[href] && cssFiles[href] !== lastModified) {
    //                         css.setAttribute("href", href + "?v=" + new Date().getTime());
    //                     }
    //                     cssFiles[href] = lastModified;
    //                 });
    //         });
    //     },);
    // </script> #}

    {# burger menu #}
    <script>
        const burger = document.getElementById('burger');
        const navLinks = document.getElementById('navLinks');

        burger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>

    </body>
</html>
